<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Home - Start Bootstrap Template</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/blog-home.css" rel="stylesheet">
</head>
<body>
   
    <div class="container">
        <div class="row">
            <div class="col-md-8" style="background-color: #f5f5f5">
                    <h1 class="page-header">
                        Добре дошли
                    </h1>
                    @{ int a = 0;}
                    @foreach (var post in Model)
                    {
                        a++;
                        <article class="post">
                            <h2 class="title">@post.Title</h2>
                            <div class="about">
                                Публикувано
                                @if (post.Author != null)
                                {
                                    @:от
                                    <i>@post.Author.FullName (@post.Author.UserName)</i>
                                }
                                на <i>@post.Date</i>
                            </div>
                            <div class="body">@Html.Raw(post.Body)</div>
                        </article>
                        if (a == 3) { break; }
                    }
                </div>

           
            <div class="col-md-4">
                <div class="well">
                    <h4>Последни статии</h4>
                    <div class="row">
                        <div>
                            <ul class="list-unstyled">
                                
                                @{int k = 0; }
                                @foreach(var post in Model)
                                {

                                    k++;
                                    var str = "/Posts/Details/" + post.Id;
                                    <p><a href=@str>@post.Title</a></p>
                                    if (k == 5) { break; }
                                    }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
